<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" type="image/gif" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
        <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
        
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p id="web">DESIGNER OF THIS WEB-APP</p>
            <img class="portrait" src="/img/prateek.jpeg">
            <p id="web1">This web-app has been designed to check the current forecast of the provided city.The web-app uses darksky api and mapbox for the forecast information.Nodejs has been used for all the backend purpose.Html,css and client side js has been used for frontend part.Handlebars has been used to render dynamic pages.</p>
        </div>
        
        {{!-- {{>footer}} --}}
    </body>
</html>