<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
        <link rel="icon" type="image/gif" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
       
    <body>
        <div class="main-content">
            {{>header}}
            {{!-- <p>{{message}}</p> --}}
            <p id="help">I guess u r facing some issues,that's why u have visited this page.I recommend u to provide exact location of the place as there can be many places with the same name.</p>
            <p id="help1">If the problem still persists u can message me at:<br>
            <i class="fas fa-envelope fa-x"></i>&nbsp;koulnipun1@gmail.com</p>
            <p id="help1">Or call me at <br> <i class="fas fa-phone-square"></i>+919419808080</p>
        </div>
        
        <footer>
            &copy; Prateek Labroo
        </footer>
        {{!-- {{>footer}} --}}
    </body>
</html>